build/

dist/**/*.*
!dist/**/*.meta.js
!dist/**/*.user.js

node_modules/

testing.js
**/testing.*.*

dist/rarbg-captcha-solver/
src/rarbg-captcha-solver/

dist/test-script/
src/test-script/

dist/lb-common-films-b/
src/lb-common-films-b/

dist/lb-common-films-nightly/
src/lb-common-films-nightly/

