build/

dist/**/*.*
!dist/**/*.meta.js
!dist/**/*.user.js

node_modules/

testing.js
**/testing.*.*

dist/rarbg-captcha-solver/
src/user-js/rarbg-captcha-solver/

dist/test-script/
src/user-js/test-script/

dist/lb-common-films-nightly/
src/user-js/lb-common-films-nightly/

