// TODO Change id to class since there aew many of these elements at the page

#common-films > header {
  margin-bottom: 10px;
  cursor: default;
}

#common-films-match > h3 {
  color: #939393;
  font-size: medium;
  font-weight: bolder;
  text-align: center;
}

#common-films-total {
  color: #535353;
  text-align: center;
}

#common-films-list {
  width: 300px;
  max-height: 50vh;
  overflow: auto;
}

// https://letterboxd.com/activity/
// .activity-row {
//   display: table-row;
// }

#common-films-list > li {
  padding: 7px;
}

#common-films-list > :not(:last-child) {
  border-bottom: 1px solid #353535;
}

#common-films-list > li.similar {
  // text-transform: capitalize;
  text-align: left;
}

#common-films-list > li.great-match > a {
  color: #15b3e9;
}

#common-films-list > li.match > a {
  color: #8f6be2;
}

#common-films-list > li.close > a {
  color: #35d274;
}

#common-films-list > li.off > a {
  color: #dd8820;
}

#common-films-list > li.way-off > a {
  color: #e94363;
}

#common-films-list > li.not-rated > a,
#common-films-list > li.similar > a {
  color: #7b7b7b;
}

#common-films-list > li.watchlisted > a {
  color: #a5a5a5;
}

// .person-summary.loading a.name {
//   color: #d63f74;
// }

// .person-summary.loaded a.name {
//   color: #a2ff00;
// }

#common-films-list::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

#common-films-list::-webkit-scrollbar-thumb {
  background: #353535;
}

.tippy-box {
  // width: 350px;
  background-color: #000;
}

.tippy-arrow {
  color: #000;
}
