.common-films {
  max-height: 50vh;
  overflow: auto;
}

.common-films > li {
  padding: 7px;
}

.common-films > :not(:last-child) {
  border-bottom: 1px solid #666666;
}
.common-films > li.prefect-match > a {
  color: #11ace0;
}

.common-films > li.match > a {
  color: #7184e7;
}

.common-films > li.close > a {
  color: #3dbd70;
}

.common-films > li.off > a {
  color: #c07923;
}

.common-films > li.way-off > a {
  color: #c02a47;
}

.common-films > li.not-rated > a {
  color: rgb(198, 198, 198);
}

.common-films::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.person-summary.loading a.name {
  color: #d63f74;
}

.person-summary.loaded a.name {
  color: #a2ff00;
}

.common-films::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}
